/vendor/
/composer.lock
/.gitattributes
/.idea/.gitignore
/docker/mariadb/data/.my-healthcheck.cnf
/docker/mariadb/data/aria_log.00000001
/docker/mariadb/data/aria_log_control
/.idea/codeception.xml
/composer.phar
/docker/mariadb/data/ddl_recovery.log
/docker/mariadb/data/ddl_recovery-backup.log
/Dockerfile
/docker/mariadb/data/ib_buffer_pool
/docker/mariadb/data/ib_logfile0
/docker/mariadb/data/ibdata1
/docker/mariadb/data/ibtmp1
/docker/mariadb/data/mariadb_upgrade_info
/.idea/modules.xml
/.idea/moneyproject.iml
/docker/mariadb/data/multi-master.info
/.idea/php.xml
/.idea/phpspec.xml
/.idea/phpunit.xml
/docker/mariadb/data/undo001
/docker/mariadb/data/undo002
/docker/mariadb/data/undo003
/.idea/vcs.xml
